@import "tailwindcss";

@theme {
    /* Primary Blues (Sekolah Haltev) */
    --color-primary: oklch(0.35 0.15 243);
    --color-secondary: oklch(0.57 0.18 240);
    --color-accent: oklch(0.84 0.10 240);
}